/home/s111062697/deep_learning/lecture11/homework/oregon_wildlife/
/home/s111062697/deep_learning/lecture11/homework/wild_model.h5
/home/s111062697/deep_learning/lecture11/tutorial/cifar-10-python.tar.gz
