lecture11/homework/wild_model.h5
lecture11/tutorial/cifar-10-python.tar.gz
lecture11/homework/oregon_wildlife/

lecture11-2/homework/dataset/
lecture11-2/homework/checkpoints/

lecture11-2/tutorial/checkpoints/
lecture11-2/tutorial/checkpoints_save_callbacks/
lecture11-2/tutorial/checkpoints_save_checkpoints/
lecture11-2/tutorial/checkpoints_save_weights
lecture11-2/tutorial/dataset/

lecture12-1/homework/checkpoints/
lecture12-1/homework/dataset/
lecture12-1/tutorial/checkpoints/

lecture12-2/assignment/dataset/
lecture12-2/assignment/checkpoints/
lecture12-2/tutorial/checkpoints/
lecture12-2/tutorial/dataset/